/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
body
{
    
}
#container
{
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #786f66;
}
#topbar
{
    height: 220px;
    background-color: #4f463c;
    text-align: right;
    background-image: url('pics/coffey.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    color: #988F76;
    font-family: "Verdana";
    font-size: 12px;
    font-style: italic;
}
#menu a
{
    display: none;
}
#menu
{
    margin-top: -16px;
    background-color: #4f463c;
}
#menu ul
{
    width: 560px;
    height: 40px;
}
#menu li
{
    float: left;
    margin-top: 5px;
    list-style-type: none;
    border-left: 1px solid #786f66;
    border-top: 1px solid #786f66;
    border-right: 1px solid #786f66;
    background-color: #786f66;
}
#menu  ul
{
    list-style-type: none;
    background-color: #4f463c;
}
#menu li a
{
    display: block;
    padding: 0.25em 1em;
    text-decoration: none;
    color: #e8e5d1;
}
#menu .active a
{
    background-color: #e8e5d1;
    color: #988F76;
}
#menu li a:hover
{
    background-color: #9c9084;
    color: #e8e5d1;
}

#menu li a:link 
{
    font-size: 17px;
}
#content
{
    color: #988F76;
    background-color: #e8e5d1;
    margin-top: -21px;
}
#maincontent
{
    float: left;
    width: 380px;
    font-family: "Times New Roman";
}
#maincontent p
{
    font-style: "Times new roman";
}
#maincontent img
{
    float: left;
}
#subcontent
{
    float: right;
    width: 210px;
    margin-top: 40px;
    font-family: "Verdana";
    padding: 3px;
    border-left: dashed 2px;
}
#subcontent ul
{
    list-style-type: none;
    margin-left: -20px;
}
#subcontent h2
{
    font-size: 12px;
    color: #4f463c;
}
#subcontent h1
{
    font-size: 12px;
    color: #4f463c;
    font-style: inherit;
}
#subcontent p
{
    font-size: 10px;
    font-family: "Verdana";
    padding: 2px;
}
#subcontent a
{
    color: #4f463c;
    text-decoration: none;
    font-size: 12px;
    margin: -10px;
}
#bottomcontent
{
    clear: both;
    font-size: 12px;
    font-style: italic;
}